.landscaping {
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  padding: 10px 0;
  color: #555555;

  .intro {
    h2,
    h3 {
      text-transform: uppercase;
      text-align: center;
      font-weight: 300;
      letter-spacing: 1px;
    }
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2.3rem;
    }

    h2:after {
      display: block;
      height: 2px;
      background: #3c2616;
      content: ' ';
      width: 120px;
      margin: 0 auto;
      margin-top: 20px;
    }

    h3:after {
      display: block;
      height: 2px;
      background-color: #3c2616;
      content: ' ';
      width: 120px;
      margin: 0 auto;
      margin-top: 20px;
    }

    p {
      line-height: 145%;
      word-spacing: 2px;
      font-size: 1rem;
      text-align: center;
      margin: 0;
    }
  }

  .stages {
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      display: flex;
      flex-direction: column;
    }

    .stage {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      -webkit-transition: 0.3s;
      transition: 0.3s;
      opacity: 0.95;
      padding: 0 20px;

      &:hover {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
      }

      h4 {
        font-size: 1.8rem;
        font-weight: 300;
        text-align: center;
        margin: 20px 10px;
        text-transform: uppercase;
        -webkit-box-shadow: 5px 5px 12px #555;
        box-shadow: 5px 5px 12px #555;
        padding: 8px;
        border-radius: 3px;
        background-color: #342214;
        color: #c9c9c9;
      }

      p {
        margin: 15px 0px;
        padding: 18px;
        font-size: 1.1rem;
        line-height: 145%;
        text-align: center;
        -webkit-box-shadow: 5px 5px 15px #999;
        box-shadow: 5px 5px 15px #999;
        border-radius: 3px;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 3px;
        box-shadow: 5px 5px 10px #999;
      }
    }
  }
  .complete {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 100%;
      width: 100%;
      margin-top: 30px;
      border-radius: 3px;
      box-shadow: 5px 5px 10px #777;
      transform: scale(0.99);
      transition: 0.3s;
      opacity: 0.98;
      &:hover {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .landscaping {
    .intro {
      p {
        font-size: 1.2rem;
      }
    }
    .stages {
      ul {
        flex-direction: row;
        .stage {
          padding: 0 10px;
          h4 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .landscaping {
    .intro {
      p {
        padding: 5px 5px;
      }
      h2 {
        font-size: 3.56rem;
      }
      h3 {
        font-size: 2.6rem;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .landscaping {
    padding: 30px 0;

    .intro {
      p {
        margin: 40px 0px 10px 0;
      }
    }

    .stages {
      .stage {
        max-width: 350px;
        padding: 0 20px;
        margin: 0 10px;
        h4 {
          font-size: 1.8rem;
          margin: 20px 10px;
        }

        p {
          margin: 20px 0px;
          padding: 18px;
          font-size: 1.2rem;
        }
        img {
          margin: 5px 0;
        }
      }
    }
    .complete {
      padding: 20px 0px;

      p {
        margin: 10px 0;
        width: 80%;
      }
    }
  }
}

@media only screen and (min-width: 2560px) {
  .landscaping {
    padding: 40px 0;

    .intro {
      position: relative;
      width: 1460px !important;
      transform: translate(-13.5%);
      h2 {
        font-size: 5rem;
      }
      p {
        font-size: 1.7rem;
        margin: 40px 0px 20px 0;
      }
    }

    .stages {
      ul {
        .stage {
          max-width: 600px;
          padding: 0 20px;
          margin: 0 10px;
          h4 {
            font-size: 2.2rem;
            padding: 12px 0;
            margin: 20px 10px;
          }

          p {
            margin: 20px 0px;
            padding: 18px;
            font-size: 1.5rem;
          }
          img {
            margin: 5px 0;
          }
        }
      }
    }
    .complete {
      padding: 20px 0px;

      h3 {
        font-size: 3.4rem;
      }
      p {
        margin: 10px 0;
        width: 80%;
      }
    }
  }
}
