.projects {
  margin: 0px 0px 2px 0px;
  padding: 0px;
}

.showcase {
  list-style: none;
  width: 100%;
  display: flex;
  margin: 0;
}

.showcase li {
  display: block;
  width: 24.8%;
  margin: 0.1% 0.1%;
}

.photo {
  width: 100%;
  margin: 0;
  background-color: #000;
  overflow: hidden;
}

.photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
