.hero {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 21, 0, 0.4)),
      to(rgba(0, 0, 0, 0.9))
    ),
    url(../../../assets/images/background_d_edit.jpg);
  background-image: linear-gradient(rgba(0, 21, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url(../../../assets/images/background_d_edit.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;

  .herotextbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    z-index: 100;
    h1 {
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: 3px;
    }
    h2 {
      margin-top: -20px;
      font-size: 1.6rem;
      font-weight: 300;
      word-spacing: 4px;
      letter-spacing: 1px;
      text-align: left;
    }

    .about {
      border: 1px solid white;
      &:hover {
        background-color: #4e342e !important;
      }
    }

    .contact {
      margin: 20px 6px;
      border: 1px solid #3e2723;
      &:hover {
        border: 1px solid white !important;
        background-color: #4e342e !important;
        color: white !important;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    .herotextbox {
      transform: translate(-80%, -50%);
      h1 {
        font-size: 4rem;
        letter-spacing: 5px;
      }
      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    .herotextbox {
      transform: translate(-100%, -80%);
      h1 {
        font-size: 6rem;
        letter-spacing: 10px;
      }
      h2 {
        font-size: 3rem;
      }

      .about {
        border: 1px solid white;
      }

      .contact {
        margin: 0 15px;
      }
    }
  }
}

@media only screen and (min-width: 2560px) {
  .hero {
    .herotextbox {
      h1 {
        font-size: 8rem;
        letter-spacing: 12px;
      }
      h2 {
        font-size: 4rem;
      }
      .about {
        transform: scale(1.5);
        margin: 35px;
      }
      .contact {
        transform: scale(1.5);
        margin-left: 45px;
      }
    }
  }
}
