.months {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 10px 0;

  button {
    display: flex;
    justify-content: center;
    margin: 0 5px 10px 5px;
    min-width: 50px;
    width: 6%;
  }

  .active {
    background-color: #4caf50;
    color: #eeeeee;
  }
}

@media only screen and (min-width: 530px) {
  .months {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (min-width: 700px) {
  .months {
    width: 75%;
    margin-left: 12.5%;
  }
}
@media only screen and (min-width: 750px) {
  .months {
    width: 70%;
    margin-left: 15%;
  }
}
@media only screen and (min-width: 800px) {
  .months {
    width: 60%;
    margin-left: 20%;
  }
}
@media only screen and (min-width: 1050px) {
  .months {
    width: 100%;
    margin-left: 0;
  }
}

@media only screen and (min-width: 2560px) {
  .months {
    button {
      font-size: 1.4rem;
      padding: 8px;
      margin-left: 8px;
      margin-right: 8px;
      min-height: 48px !important;
    }
  }
}
