.top {
  h6 {
    text-align: center;
    margin: 0;
  }

  .title {
    margin: 0;
    text-align: center;
    font-weight: 500;
  }

  .dateSpan {
    text-align: center;
    margin-top: 20px !important;
    font-weight: 500;
    font-size: 1.1rem;
  }
}

.bottom {
  padding: 0 20px !important;
  .dates {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    width: 80%;
    margin-left: 10%;
    li {
      p {
        margin: 20px 0 !important;
      }
    }
  }
}

@media only screen and (min-width: 380px) {
  .bottom {
    .dates {
      width: 100%;
      margin-left: 0;
    }
  }
}
