.job {
  display: flex;
  position: relative;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 0 5px;
  margin: 2px 0;
  h6 {
    font-size: 1.1rem;
    width: 65%;
    margin: 0 5px 0 0;
    padding: 6px 0;
    cursor: pointer;
  }
  i {
    font-size: 1.3rem;
    margin-top: 1px;
    color: #b71c1c;
    font-weight: 500;
    cursor: pointer;
  }
  .time {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 30px;
    p {
      padding: 0 5px 1px 5px;
      margin: 0;
      color: #43a047;
      font-weight: 400;
      cursor: context-menu;
      &:focus {
        border: none;
        box-shadow: none;
      }
    }
    i {
      color: #43a047;
      font-weight: 500;
      cursor: context-menu;
    }
  }
  .notes {
    position: absolute;
    border-radius: 3px;
    top: 30px;
    left: 0;
    width: 100%;
    padding: 0 5px 5px 5px;
    background-color: #43a047;
    color: white;
    z-index: 100;
    h6 {
      padding: 10px 5px;
      cursor: default;
      font-weight: 300;
      font-size: 1.3rem;
    }
    .time {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 30px;
      position: absolute;
      width: 10%;
      top: 4%;
      right: 16%;

      input {
        border: 1px solid white;
        text-align: center;
        padding: 0 5px 1px 5px;
        margin: 0 0 0 8px;
        color: white;
        font-weight: 400;
        height: 20px;
        width: 30px;
        cursor: auto;
        &:focus {
          box-shadow: none;
        }
      }
      i {
        color: white;
        font-size: 1.5rem;
        font-weight: 100;
        cursor: context-menu;
      }
    }
    form {
      label {
        textarea {
          margin: 0 0 3px 0;
          padding: 5px;
          width: 100%;
          height: 80px;
          outline: none;
          border: none;
          resize: none;
          overflow: auto;
          background-color: white;
          border-radius: 3px;
        }
      }
    }
    input {
      border-radius: 3px;
      outline: none;
      border: none;
      padding: 5px 10px;
      margin: 0 0 3px 0;
      color: rgb(105, 105, 105);
      cursor: pointer;
    }
  }
}

.none {
  display: none;
}
