.jobCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid white;

  i:hover {
    cursor: pointer;
  }

  .top {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    position: relative;

    h6 {
      position: relative;
      top: 3px;
      text-align: left;
      margin: 0;
      padding: 0;
      width: 60%;
      height: 30px;
      font-size: 1.2rem;
      text-transform: capitalize;
    }

    .rebook {
      display: flex;
      position: absolute;
      right: 14%;
      justify-content: space-between;
      align-content: center;
      background-color: #c8e6c9;
      border-radius: 5px;
      font-size: 1rem;
      padding: 3px 6px;
      width: 52px;
      height: 24px;

      i {
        font-size: 1.2rem;
      }

      span {
        align-self: center;
      }
    }
    .clear {
      color: #b71c1c;
      position: absolute;
      font-size: 1.6rem;
      right: 0;
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    position: relative;
    height: 26px;
    width: 100%;
    user-select: none;
    overflow: hidden;

    .person {
      color: #000000;
      position: absolute;
      font-size: 1.6rem;
      left: 0;
      bottom: 6px;
      z-index: 100;
    }

    .dropdown {
      position: absolute;
      display: flex;
      align-items: center;
      background-color: white;
      width: 80%;
      left: 24px;
      bottom: 4px;
      transition: width 0.3s ease;

      .arrow {
        position: relative;
        font-size: 1.7rem;
        width: 24px;
        transition: width 0.3s ease;
      }

      .personAdd {
        position: relative;
        font-size: 1.6rem;
        border: 1px solid rgba(220, 220, 220, 0.2);
        border-radius: 2px;
        width: 24px;
        transition: width 0.3s ease;
      }
    }

    span {
      margin-left: 30%;
      margin-bottom: 7px;
      align-self: center;
      font-size: 0.8rem;
    }

    .rebooked {
      font-size: 1rem;
      padding-left: 15px;
      margin-bottom: 8px;
    }

    .check {
      color: #1b5e20;
      position: absolute;
      font-size: 1.6rem;
      right: 0;
    }
  }
  .dropdown.inactive {
    left: 2000px;
    width: 0%;
    animation: menuOut 0.2s;
    .personAdd {
      width: 0;
    }
    .arrow {
      width: 0;
    }
  }
  .dropdown.default {
    left: 2000px;
    width: 0;
    animation: none;
    .personAdd {
      width: 0;
    }
    .arrow {
      width: 0;
    }
  }
}

@keyframes menuOut {
  0% {
    left: 24px;
    width: 80%;
  }
  99% {
    left: 0;
    width: 0%;
  }
  100% {
    left: 2000px;
    width: 0%;
  }
}
