.background {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 21, 0, 0.4)),
      to(rgba(0, 0, 0, 0.9))
    ),
    url(../../../assets/images/background_d_edit.jpg);
  background-image: linear-gradient(rgba(0, 21, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url(../../../assets/images/background_d_edit.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  padding: 2% 0;
}
