.search {
  display: flex;
  align-items: center;
  background-color: #4caf50;
  border-radius: 3px;
  width: 94%;
  margin-left: 3%;
  i {
    color: white;
    font-size: 2.5rem;
    margin: 1% 2%;
  }
  input {
    font-weight: 300;
    font-size: 1.8rem;
    color: white;
    border: none !important;
    box-shadow: none !important;
    margin: 0;
    &:focus {
      border: none !important;
      box-shadow: none !important;
    }
    &::placeholder {
      color: white;
    }
  }
}

@media only screen and (min-width: 600px) {
  .search {
    width: 90%;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 993px) {
  .search {
    width: 70%;
    margin-left: 15%;
  }
}

@media only screen and (min-width: 2560px) {
  .search {
    i {
      font-size: 4rem;
      margin: 0.8% 2%;
    }
    input {
      font-size: 2.5rem;
    }
  }
}
