.details {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-51%);
  border-radius: 3px;
  border: 1px solid rgb(184, 184, 184);
  padding: 10px;
  width: 310px;
  z-index: 100;

  .titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px 10px 10px;

    h5 {
      margin: 0;
      text-transform: capitalize;
    }

    .time {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 30px;
      p {
        padding: 0 5px 1px 5px;
        margin: 0;
        color: #43a047;
        font-weight: 400;
      }
      i {
        color: #43a047;
        font-weight: 500;
        cursor: context-menu;
      }
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    min-height: 80px;
    .contact {
      background-color: white;
      width: 40%;
      padding: 5px;
    }
    .notes {
      background-color: white;
      padding: 5px;
      width: 58%;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .details {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(80%, -50%);
    width: 320px;
    border: none;
  }
}

@media only screen and (min-width: 2560px) {
  .details {
    width: 450px;
    .titleBox {
      margin: 5px 0;
      h5 {
        font-size: 2.2rem;
      }
      .time {
        p {
          font-size: 1.5rem;
        }
        i {
          font-size: 2rem;
        }
      }
    }

    .info {
      min-height: 120px;
      font-size: 1.2rem;
      .contact {
        padding: 10px;
      }
      .notes {
        padding: 10px;
      }
    }
  }
}
